
.task-list{
    display: grid;
    grid-template-columns: 250px 600px 150px;
    list-style: none;
    padding: 5px 0;
    margin: 5px 0;
    align-items: start;
    font-size: 20px;
    border: 2px solid black;
    max-width: 800px;
    gap: 200px;


}
.task-list span {
    padding: 5px;
}

.all-tasks{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}